html {
    font-family: 'Roboto', sans-serif; 
}

.navbar {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: white; 
}

.navbox {
    float: right;
}

li a {
    display: block; 
    color: black; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    background-color: darkgray; 
}

li a:hover {
    background-color: red; 
}

.container {
    display: flex; 
    justify-content: center; 
    background-color: green;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px; 
    margin-bottom: 5px;
}